# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/

venv/

# Dataset
villa_mmbench/data/downloaded/u.data
villa_mmbench/data/downloaded/u.item
villa_mmbench/data/downloaded/ml-1m.zip
villa_mmbench/data/downloaded/ml-1m/